
@import './defaults.css';

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--bold);
  height: var(--scale-4);
  margin: 0;
  padding: var(--scale-1) var(--scale-2);
  border: 0;
}

