
:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
  --bold: 700;
  --scale-0: .125em;
  --scale-1: .5em;
  --scale-2: 1em;
  --scale-3: 1.5em;
  --scale-4: 2.5em;
  --black: #111;
  --blue: #07c;
  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .25);
  --radius: 3px;
}

