/* Forms WIP */

@import './defaults.css';

form {
  margin-bottom: var(--scale-2);
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}

legend {
  font-size: var(--h3);
  font-weight: var(--bold);
  padding: 0;
}

label,
input,
select,
textarea {
  display: block;
  width: 100%;
}

label {
  font-size: var(--h5);
  font-weight: var(--bold);
  margin-top: var(--scale-2);
  margin-bottom: var(--scale-1);
}

input[type=text] {
  height: var(--scale-4);
  padding: var(--scale-1);
  margin-bottom: var(--scale-2);
}

input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: var(--scale-1);
}

input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: var(--scale-1);
}

textarea {
  padding: var(--scale-1);
  margin-bottom: var(--scale-2);
}

select {
  height: var(--scale-4);
  padding: var(--scale-1);
  margin-bottom: var(--scale-2);
}

